@section pageCss {
    <link href="/Theme/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">List RoomTypes</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="/RoomType/Create" class="btn btn-secondary btn-circle btn-sm">
                <i class="fa fa-plus"></i>
            </a>
            <a href="#" class="btn btn-secondary btn-circle btn-sm" id="btnEdit">
                <i class="fa fa-edit"></i>
            </a>
            <a href="#" class="btn btn-secondary btn-circle btn-sm" id="btnDelete">
                <i class="fa fa-trash"></i>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered dataTable stripe" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Size</th>
                            <th>Capacity</th>
                            <th>Bed</th>
                            <th>Services</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->


@section pageJs {
    <script src="/Theme/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/Theme/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            loadListRoomType();

            $('#btnEdit').on('click', function (e) {
                e.preventDefault();

                var selectedRow = window.table.row('.selected')
                if (selectedRow && selectedRow.length > 0) {
                    var rowID = $(selectedRow.node()).data('id');
                    location.href = '/RoomType/Create?id=' + rowID;
                }
                else {
                    toastr["warning"]("Xin Hãy Chọn 1 Dòng");
                }
            });

            $('#btnDelete').on('click', function (e) {
                e.preventDefault();

                var selectedRow = window.table.row('.selected')
                if (selectedRow && selectedRow.length > 0) {
                    var rowID = $(selectedRow.node()).data('id');
                    $.ajax({
                        url: '/RoomType/Delete',
                        type: 'post',
                        data: { id: rowID },
                        success: function (res) {
                            if (res.IsSuccess) {
                                if (res.Data == 1) {
                                    toastr["success"]("Delete successfully");
                                    window.table.row('.selected').remove().draw(false);
                                }
                                else if (res.Data == -1) {
                                    toastr["warning"]("Can not delete this row because it's containing some Room Object");
                                }
                            }
                        }
                    });
                }
                else {
                    toastr["warning"]("Xin Hãy Chọn 1 Dòng");
                }
            });
        });

        function loadListRoomType() {
            $.ajax({
                url: '/RoomType/GetAll',
                type: 'get',
                success: function (res) {
                    console.log(res);
                    if (res.IsSuccess) {
                        if (Array.isArray(res.Data) && res.Data.length > 0) {
                            var bodyHtml = '';
                            $.each(res.Data, function (index, item) {
                                bodyHtml += `<tr data-id=` + item.ID + `>
                                                            <td>`+ (index + 1) + `</td>
                                                            <td>`+ item.Name + `</td>
                                                            <td>`+ item.Price + `</td>
                                                            <td>`+ item.Size + `</td>
                                                            <td>`+ item.Capacity + `</td>
                                                            <td>`+ item.Bed + `</td>
                                                            <td>`+ item.Services + `</td>
                                                        </tr>`;
                            });

                            $('#dataTable tbody').html(bodyHtml);
                        }
                    }

                    initdataTable('#dataTable');
                }
            });
        }

        function initdataTable(selector) {
            var table = $(selector).DataTable();

            $(selector).find('tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            window.table = table;
        }
    </script>

}